/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    width: 90%;
    margin: 20px auto;
}

.categoria {
    margin-bottom: 40px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.carrossel {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.carrossel-container {
    overflow: hidden;
    flex-grow: 1; 
}

.filme-lista {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    gap: 10px;
}

.filme-lista li {
    min-width: 120px; 
    text-align: center;
    flex-shrink: 0;
}

.filme-lista img {
    width: 200px; 
    height: auto;
}

.filme-lista p {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

button {
    background-color: #ff0000;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

button:hover {
    background-color: #cc0000;
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}


h2 {
    position: relative;
    padding-left: 15px; 
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px; 
    height: 100%;
    background-color: red; 
}
