:root {
    --clr-blk: #1e1e1e;
    --clr-txt: white;
    --clr-verm: red;
    --clr-dr: #a61313;
  
    background-color: var(--clr-blk);
    text-decoration: none;
    color: var(--clr-txt);
  
    font-size: 30px;
    line-height: 36px;
    font-family: Arial, sans-serif;
  }
  #header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 30px;
    line-height: 36px;
    background-color: var(--clr-verm);
    max-height: 5rem;
  
    margin: 0 auto;
  }
  #header > div {
    display: flex;
    justify-content: space-between;
    width: fit-content;
  
    height: 196px;
  }
  .logo {
    width: 195px;
    height: 177px;
    margin: 0%;
    padding: 0px;
    justify-content: left;
  }
  .favoritos {
    display: flex;
    flex-direction: row;
  
    font-size: large;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
  }
  
  .favoritos > a {
    color: var(--clr-txt);
    text-decoration: none;
  }
  
  .barra-pesquisa {
    display: flex;
    flex: 1;
    width: fit-content;
  
    margin-right: 260px;
    margin-left: 180px;
    align-items: center;
  }
  .barra-pesquisa > button {
    height: 25px;
    width: 100px;
    background-color: var(--clr-dr);
    border-radius: 15px;
    color: var(--clr-txt);
    font-size: 16px;
    border: none;
  }
  
  .barra-pesquisa > input {
    background-color: var(--clr-dr);
    border-radius: 15px;
    height: 30px;
    width: 360px;
    border: none;
  }
  
  .login {
    display: flex;
  
    flex-direction: row;
    border-radius: 12px;
  
    font-size: large;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin-right: 50px;
  }
  
  .login > a {
    color: var(--clr-txt);
    text-decoration: none;
  }
  


  /*Forms de Login */
  form {
    align-items: center;
    margin: 15rem;
    gap: 2 rem;
   
}

.form-text{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-verm);
    color: var(--clr-txt);
    padding: 1.5rem;
    
    font-size: 20px;
    gap: 12px;
    border-radius: 12px;
}

.form-text > button {

    margin-inline: 0;
    background-color:var(--clr-dr);
    color: var(--clr-txt);
    border-radius: 12px;
    font-size: 20px;
    border: none;
    margin-top: 12px;
    text-decoration: none;

}

.form-text > input {
  background-color:var(--clr-dr);
  border-radius: 10px;
  border: none;
  color: var(--clr-txt);
}