:root {
  --clr-blk: #1e1e1e;
  --clr-txt: white;
  --clr-verm: red;
  --clr-dr: #a61313;
}

body {
  background-color:var(--clr-blk);
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

button:hover {
  background-color: #cc0000;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  line-height: 36px;
  background-color: var(--clr-verm);
  max-height:9.35rem;
  width: 1483px;

  margin: 0 auto;
  margin-bottom: 25px;
}
#header > div {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  height: 196px;
}
.logo {
  width: 195px;
  height: 177px;
  margin: 0%;
  padding: 0px;
  justify-content: left;
}
.favoritos {
  display: flex;
  flex-direction: row;

  font-size: large;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
  gap: 5px;
}

.favoritos > a {
  color: var(--clr-txt);
  text-decoration: none;
}

.barra-pesquisa {
  display: flex;
  flex: 1;
  width: fit-content;
  margin-right: 260px;
  margin-left: 180px;
  align-items: center;
}
.barra-pesquisa > button {
  height: 38px;
  width: 100px;
  background-color: var(--clr-dr);
  border-radius: 15px;
  color: var(--clr-txt);
  font-size: 16px;
  border: none;
}

.barra-pesquisa > input {
  background-color: var(--clr-dr);
  border-radius: 15px;
  height: 28px;
  width: 360px;
  border: none;
}

.login {
  display: flex;

  flex-direction: row;
  border-radius: 12px;

  font-size: large;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-right: 50px;
}

.login > a {
  color: var(--clr-txt);
  text-decoration: none;
}


h1 {
  text-align: start;
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.container1 {
  display: flex;
  align-items: center;
  width: 80%;
}

.image-container1 img {
  margin-right: 50px;
  border-radius: 20px;
}

.textDesc {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.textDesc h1,
.textDesc h2,
.textDesc p {
  margin: 0;
}

.container1,
.nossaOp,
.comentarios,
.novoComent,
.indicacoes {
  width: 80%;
  padding: 5px;
}

.textDesc,
.comentario,
.novoComent,
.indicacoes {
  text-align: justify;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comentario {
  background-color: #000000;
  padding: 15px 30px;
  border-radius: 10px;
}

.image-comentario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-comentario img {
  height: 36px;
}

.nossaOp,
.novoComent {
  width: 80%;
  margin: auto;
  padding: 20px 0px;
  box-sizing: border-box;
  border-bottom: 2px solid #a61313;
}

.barraComent {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 16px;
  background-color: #a61313;
  border-radius: 20px;
}

.barraComent input {
  background-color: #ffffff;
  font-size: medium;
  width: 100%;
  height: 15px;
  border: none;
  border-radius: 100px;
  padding: 15px;
}

.barraComent button {
  border-radius: 10px;
}

.indicacoes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.indicacoes h2 {
  margin: 0;
  padding: 5px;
  border-left: 4px solid #a61313;
}

.image-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.indicacoes img {
  border-radius: 20px;
  width: 24%;
}

@media (max-width: 640px) {
  h1 {
    font-size: 25.96px;
  }

  h2 {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  .container1 {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    gap: 20px;
  }

  .container1 img {
    height: auto;
    margin-right: 0;
    width: 100%;
  }

  .textDesc {
    width: 100%;
  }

  .image-container1 {
    width: 100%;
  }

  .barraComent {
    flex-direction: row;
    gap: 10px;
  }

  .barraComent input {
    width: 87%;
  }

  .image-container2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .indicacoes img {
    border-radius: 20px;
    width: 24%;
  }
}
