body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

h1 {
  text-align: start;
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.container1 {
  display: flex;
  align-items: center;
  width: 80%;
}

.image-container1 img {
  margin-right: 50px;
  border-radius: 20px;
}

.textDesc {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.textDesc h1,
.textDesc h2,
.textDesc p {
  margin: 0;
}

.container1,
.nossaOp,
.comentarios,
.novoComent,
.indicacoes {
  width: 80%;
  padding: 5px;
}

.textDesc,
.comentario,
.novoComent,
.indicacoes {
  text-align: justify;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comentario {
  background-color: #000000;
  padding: 15px 30px;
  border-radius: 10px;
}

.image-comentario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-comentario img {
  height: 36px;
}

.nossaOp,
.novoComent {
  width: 80%;
  margin: auto;
  padding: 20px 0px;
  box-sizing: border-box;
  border-bottom: 2px solid #a61313;
}

.barraComent {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 16px;
  background-color: #a61313;
  border-radius: 20px;
}

.barraComent input {
  background-color: #ffffff;
  font-size: medium;
  width: 100%;
  height: 15px;
  border: none;
  border-radius: 100px;
  padding: 15px;
}

.barraComent button {
  border-radius: 10px;
}

.indicacoes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.indicacoes h2 {
  margin: 0;
  padding: 5px;
  border-left: 4px solid #a61313;
}

.image-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.indicacoes img {
  border-radius: 20px;
  width: 24%;
}

@media (max-width: 640px) {
  h1 {
    font-size: 25.96px;
  }

  h2 {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  .container1 {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    gap: 20px;
  }

  .container1 img {
    height: auto;
    margin-right: 0;
    width: 100%;
  }

  .textDesc {
    width: 100%;
  }

  .image-container1 {
    width: 100%;
  }

  .barraComent {
    flex-direction: row;
    gap: 10px;
  }

  .barraComent input {
    width: 87%;
  }

  .image-container2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .indicacoes img {
    border-radius: 20px;
    width: 24%;
  }
}
